// breakpoints

$S:   320px;
$M:   768px;
$L:   1170px;

// media queries

@mixin MQ($canvas) {
  @if $canvas == S {
   @media only screen and (min-width: $S) { @content; }
 }
 @else if $canvas == M {
   @media only screen and (min-width: $M) { @content; }
 }
 @else if $canvas == L {
   @media only screen and (min-width: $L) { @content; }
 }
}

//Main Elements

main {
  @include outer-container;
  padding: $base-padding;

}

li {
  list-style: none;
}

.heading-bg {
  //background-color: #c6c6c6;
  background-color: #9f9f9fe3;
  padding: 2rem;
  // position: fixed;
  // margin-left: -15px;
  // top: 35%;
  // text-align: center;
  margin-top: 200px;
  max-width: 600px;
  .overlay {
    font-size: 3.4em;
    padding-bottom: 0px;
    margin-bottom: 0px;
    color: white;
  }
  p {
    padding: 10px 0px 10px 0px;
    color: #d4d4d4;
  }
}

.enter_container {
  a {
    font-size: 2.4rem;
    color: #e5e5e5;
  }
}

.logo {
  width: 90px;
}

.overlay {
  color: white;
  padding-top: 10px;
}

//Grey background headings

.heading_with_background {

  background: #BBB;
  color: white;
  display: inline-block;
  font-weight: 800;
  margin-bottom: 1.3em;
  padding: $base-padding;
  font-size: 1.5em;

}

//Navbar

.navbar {
  border-radius: 0px;
}

.navbar-default {
  border-color: $super-light-gray;
  background-color: $super-light-gray;
  font-size: 1.1em;
}

.navbar-brand {
  float: left;
  line-height: 20px;
  height: auto;
  width: 200px;
  margin-top: 5px;
  margin-left: -7px;
}

.navbar-brand {
 padding: 0px;
}

.navbar-brand {
 padding: 0px;
 margin-left: 0px;
}

//Admin Buttons
.admin-buttons{
  display: inline;
}

.admin-buttons button{
  margin-top: 15px;
}


@media (min-width: 768px) {
  .navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
    margin-left: 15px;
  }
}



