// Typography
$base-font-family: 'PT Serif Caption', serif;
$heading-font-family: 'Cinzel', serif;

// Font Sizes
$base-font-size: 1.2em;
$heading-font-size: 1.4em;
$nav-font-size: 1.2em;
$link-font-size: 1.1em;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
$blue: #477dca;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #ddd;
$black: #000000;
$white: #fff;
$super-light-gray: #f0f0f0;
$darker-gray: #7f7f7f;

// Font Colors
$base-font-color: $dark-gray;
$action-color: $darker-gray;

// Border
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;

// Background Colors
$base-background-color: #fff;
$secondary-background-color: tint($base-border-color, 75%);

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);

// Animations
$base-duration: 150ms;
$base-timing: ease;

//Paddings
$base-padding: 3px 8px;

//Lists Margin Left Alignment
$list-alignment: 3em;

//Icons
$phone-icon-size: 4em;
$mail-icon-size: 3.5em;

//Contact Page
$base-line-height: 1.5em !default;
$action-color: #477DCA !default;
$dark-gray: #333 !default;
$large-screen: em(860) !default;
$base-font-color: $dark-gray !default;
$side-image-background-top: #B5EBEB;
$side-image-background-bottom: #5DAC5D;
$side-image-content-background: #F9F9F9;
$side-image-border: 1px solid darken(transparentize($side-image-background-bottom, 0.8), 30%);

//Buttons
$button-link-color: $light-gray;

h4{
  font-size: 1.4em;
}



