<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>NEW ADMIN</h1>
    <p>
      Hey Deana,
      Someone has signed into your website and waiting for your approval to become an admin.<br>
    </p>
    <p>
      To accept them as an admin, follow this url:
       <%= link_to "Link", admins_path(@admin) %>.
    </p>
    <p>Thanks and have a great day!</p>
  </body>
</html>