<body class="bg-img-div">
  <div class= "heading-bg">
    <h1 class='overlay'>Deana Slater Counselling Services</h1>
    <div class="enter_container">
      <h2><a href="/abouts" class="enter">enter</a></h2>
    </div>
  </div>
</body>
