<!-- <body class="bg-img-div">
  <div class="background-container">
    <main>
      <class= "heading-bg">
      <span class='overlay'>
        <h1 class="overlay-h1"><img class="overlay_logo" src="https://s3-us-west-2.amazonaws.com/equinox-website/equinox_logo2.png">Deana Slater Counseling Services</h1>
      </span>
      <div class="enter_container">
        <h2><a href="/abouts" class="enter">enter</a></h2>
      </div>
    </span>
  </main>
</div>
</body>
 -->

 <body class="bg-img-div">
  <div class= "heading-bg">
    <h1 class='overlay'>Deana Slater Counselling Services</h1>
    <div class="enter_container">
      <h2><a href="/abouts" class="enter">enter</a></h2>
    </div>
  </div>
</body>