<div class='nested-fields'>
  <div class="field">
    <%= f.label :point, "Professional Membership" %>
    <%= f.text_field :point %>
  </div>
  <%= link_to_remove_association "Remove Membership", f %>
</div>