<h1>Resources and Links</h1>
<p>If you are in crisis and require emergency assistance please go to the nearest emergency department or call 911</p>

<h2>Telephone:</h2>
  <ul>
    <li>Anishnawbe Mental Health Crisis Management Services (Aboriginal clients) – 416-891-8606</li>
    <li>Assaulted Women’s Helpline – 416-863-0511 or 1-866-863-0511</li>
    <li>Kids Help Phone – 1-800-668-6868</li>
    <li>Toronto Distress Centre – 416-480-4357</li>
    <li>Toronto Rape Crisis Centre – 416-597-8808</li>
  </ul>
<h2>Websites:</h2>
  <ul>
    <li>Canadian Mental Health Association</li>
    <p>http://toronto.cmha.ca/</p>
    <li>Centre for Addiction and Mental Health</li>
    <p>http://www.camh.ca/en/hospital/Pages/home.aspx</p>
    <li>Distress Centre</li>
    <p>https://www.torontodistresscentre.com/</p>
  </ul>
<h2>Articles:</h2>

<p>(Coming soon)</p>
<%# if current_admin %>
  <button><%# link_to "Edit", edit_about_path(@abouts) %></button>
<%# end %>