// // Place all the styles related to the abouts controller here.
// // They will automatically be included in application.css.
// // You can use Sass (SCSS) here: http://sass-lang.com/


// .directional_nav {
//   height: 340px;
//   margin: 0 auto;
//   max-width: 940px;
//   position: relative;
//   top: -340px;
// }

// .previous_btn {
//   bottom: 0;
//   left: 100px;
//   margin: auto;
//   position: absolute;
//   top: 0;
// }

// .next_btn {
//   bottom: 0;
//   margin: auto;
//   position: absolute;
//   right: 100px;
//   top: 0;
// }

// .previous_btn, .next_btn {
//   cursor: pointer;
//   height: 65px;
//   opacity: 0.5;
//   -webkit-transition: opacity 0.4s ease-in-out;
//   -moz-transition: opacity 0.4s ease-in-out;
//   -ms-transition: opacity 0.4s ease-in-out;
//   -o-transition: opacity 0.4s ease-in-out;
//   transition: opacity 0.4s ease-in-out;
//   width: 65px;
// }

// .previous_btn:hover, .next_btn:hover {
//   opacity: 1;
// }

// @media only screen and (max-width: 767px) {
//   .previous_btn {
//     left: 50px;
//   }
//   .next_btn {
//     right: 50px;
//   }
// }





// .aboutProMemPoints{
//   font-size: 1.2em;
// }

// .side-image-content {
//   border-top: 1px solid rgba(38, 74, 38, 0.2);
// }

// .new-about {
//   margin-top: 14px;
// }

// .side-image-content {
//   h1 {
//     margin-bottom: 0.9em;
//   }

//   p {
//     color: $base-font-color;
//     line-height: $base-line-height;
//     margin-bottom: 3em;
//   }
// }

// @media screen and (max-width: 991px){
//   #about-main-title{
//     margin-top: 20px;
//   }

//   .image {
//     margin-left: auto;
//     margin-right: auto;
//   }

//   .right-col {
//     border-left: none;
//   }
// }

// @media screen and (max-width: 471px){
//   .image {
//     margin-left: auto;
//     margin-right: auto;
//     width: 100%;
//   }
// }

// @media screen and (max-width: 320px){

//   .image{
//     margin-left: auto;
//     margin-right: auto;
//     min-height: 259px;
//     min-width: 215px;
//   }

//   a.navbar-brand{
//     font-size: 1em;
//   }
// }

// Place all the styles related to the abouts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.navbar-brand {
  margin: 1em;
}

.navbar-default .navbar-toggle {
  border-color: #ddd0;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #ddd0;
}

.image {
  content: url("https://s3.amazonaws.com/deana-website/about-img.jpg");
  min-width: 240px;
  width: 100%;
  max-width: 500px;
}

.right-col {
  border-left: 1px solid rgba(38, 74, 38, 0.2);
}

#about-professional-membership-paragraph {
  margin-left: -25px;
}

.side-image-content {
  h1 {
    margin-bottom: 0.9em;
  }

  p {
    color: $base-font-color;
    line-height: $base-line-height;
    margin-bottom: 3em;
  }
}

@media screen and (max-width: 991px){
  #about-main-title{
    margin-top: 20px;
  }
  .image {
    margin-left: auto;
    margin-right: auto;
  }
  .right-col {
    border-left: none;
  }
}

@media screen and (max-width: 471px){
  .image {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
}

@media screen and (min-width: 992px) {
  .image {
    float: right;
    width: 100%;
  }
}
