// Place all the styles related to the abouts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// Slider
.slider-container {
 height: 400px;
}

.slider {
  margin: 0 auto;
  max-width: 940px;
}

.slide_viewer {
  height: 340px;
  overflow: hidden;
  position: relative;
}

.slide_group {
  height: 100%;
  position: relative;
  width: 100%;
}

.slide {
  display: none;
  height: 100%;
  position: absolute;
  width: 100%;

  background: url("http://www.widgetgadget.com/stuff/HeroTree800.jpg");
  background-position: center center;
}

.slide:first-child {
  display: block;
}

// .slide:nth-of-type(1) {
//   background: #D7A151;
// }

// .slide:nth-of-type(2) {
//   background: #F4E4CD;
// }

// .slide:nth-of-type(3) {
//   background: #C75534;
// }

// .slide:nth-of-type(4) {
//   background: #D1D1D4;
// }

.slide_buttons {
  left: 0;
  position: absolute;
  right: 0;
  text-align: center;
}

a.slide_btn {
  color: #BBB;
  font-size: 42px;
  margin: 0 0.175em;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.slide_btn.active, .slide_btn:hover {
  color: #555;
  cursor: pointer;
}

.directional_nav {
  height: 340px;
  margin: 0 auto;
  max-width: 940px;
  position: relative;
  top: -340px;
}

.previous_btn {
  bottom: 0;
  left: 100px;
  margin: auto;
  position: absolute;
  top: 0;
}

.next_btn {
  bottom: 0;
  margin: auto;
  position: absolute;
  right: 100px;
  top: 0;
}

.previous_btn, .next_btn {
  cursor: pointer;
  height: 65px;
  opacity: 0.5;
  -webkit-transition: opacity 0.4s ease-in-out;
  -moz-transition: opacity 0.4s ease-in-out;
  -ms-transition: opacity 0.4s ease-in-out;
  -o-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
  width: 65px;
}

.previous_btn:hover, .next_btn:hover {
  opacity: 1;
}

@media only screen and (max-width: 767px) {
  .previous_btn {
    left: 50px;
  }
  .next_btn {
    right: 50px;
  }
}




// .image {
//   content: url("https://s3-us-west-2.amazonaws.com/equinox-website/equinox_logo_about.png");
//   width: 370px;
// }

// .aboutProMemPoints{
//   font-size: 1.2em;
// }

// .side-image-content {
//   border-top: 1px solid rgba(38, 74, 38, 0.2);
// }

// .new-about {
//   margin-top: 14px;
// }

// .side-image-content {
//   h1 {
//     margin-bottom: 0.9em;
//   }

//   p {
//     color: $base-font-color;
//     line-height: $base-line-height;
//     margin-bottom: 3em;
//   }
// }

// @media screen and (max-width: 991px){
//   #about-main-title{
//     margin-top: 20px;
//   }

//   .image {
//     margin-left: auto;
//     margin-right: auto;
//   }

//   .right-col {
//     border-left: none;
//   }
// }

// @media screen and (max-width: 471px){
//   .image {
//     margin-left: auto;
//     margin-right: auto;
//     width: 100%;
//   }
// }

// @media screen and (max-width: 320px){

//   .image{
//     margin-left: auto;
//     margin-right: auto;
//     min-height: 259px;
//     min-width: 215px;
//   }

//   a.navbar-brand{
//     font-size: 1em;
//   }
// }


