// Place all the styles related to the abouts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.image {
  content: url("https://s3.amazonaws.com/deana-website/about-img.jpg");
  width: 370px;
}

.aboutProMemPoints{
  font-size: 1.2em;
}

.right-col {
  border-left: 1px solid rgba(38, 74, 38, 0.2);
}

.new-about {
  margin-top: 14px;
}
.side-image-content {
  h1 {
    margin-bottom: 0.9em;
  }

  p {
    color: $base-font-color;
    line-height: $base-line-height;
    margin-bottom: 3em;
  }
}

@media screen and (max-width: 991px){
  #about-main-title{
    margin-top: 20px;
  }
  .image {
    margin-left: auto;
    margin-right: auto;
  }
  .right-col {
    border-left: none;
  }
}

@media screen and (max-width: 471px){
  .image {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
}

@media screen and (max-width: 320px){
  .image{
    margin-left: auto;
    margin-right: auto;
    min-height: 259px;
    min-width: 215px;
  }

  a.navbar-brand{
    font-size: 1em;
  }
}


