// Place all the styles related to the contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.images-wrapper{
  min-height: 12em;
  padding: 1.1em;

  #map-canvas{
    height: 30em;
    width: 100%;
  }

}

.contact-description {
 color: gray;
}

.contact-point {
  margin-top: 20px;
  margin-bottom: 20px;
  a {
    font-size: 1.2em;
  }
}

.contact-points {
  text-align: center;
}

@media screen and (max-width: 470px){
  .image-td {
    width: 17px;
  }

  //For Safari
  img.google_pin{
    height: 32px;
    margin-left: 13px;
  }

  img.phone_icons{
    height: $phone-icon-size;
    width: $phone-icon-size;
  }

  img.mail_icons{
    height: $mail-icon-size;
    width: $mail-icon-size;
  }

  div.images-wrapper{
    min-height: 12em;
    padding: 1.1em;
  }
}






