// Place all the styles related to the contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@include media($large-screen) {
  @include row(table);
}

.images-wrapper{
  #map-canvas{
    height: 30em;
    width: 100%;
  }
  // background-color: $side-image-background-top;
  // background-size: cover;
  // border-bottom: $side-image-border;
  // display: block;
  min-height: 12em;
  padding: 1.1em;

  // @include media($large-screen) {
  //   @include span-columns(4);
  //   background-position: bottom;
  //   background-size: cover;
  //   border-right: $side-image-border;
  // }
}

.contact-container{
  @include span-columns(12);
  padding: 1em 1em 4em 1em;

  @include media($large-screen) {
    @include span-columns(8);
    padding: $base-padding;
  }
  @include reset-display();

}



//Icons
.phone_icons {
  height: $phone-icon-size;
  width: $phone-icon-size;
}

.mail_icons {
  height: $mail-icon-size;
  width: $mail-icon-size;
}