// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// General
html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0 0 100px;
}

p {
    white-space: pre-line;
}


body.bg-img-div {
    background: url("https://s3.amazonaws.com/deana-website/bg-img.jpg
") no-repeat center center;
    height: 100vh;
    width: 100%;
    background-size: cover;
    position: relative;
    // @include linear-gradient(transparentize();
}

p {
    white-space: pre-line;
}





