// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body.bg-img-div {
    background: url(bg-img.jpg) no-repeat center center;
    background-position: center center;

    height: 100vh;
    background-size: cover;
    position: relative;
    // @include linear-gradient(transparentize();
}


.overlay {
    font-size: 2.2em;
    background: #BBB;
    color: white;
    display: inline-block;
    font-weight: 900;
    margin-bottom: 1.3em;
    padding: $base-padding;



    top: 45%;
    position: fixed;
    text-align: center;
    display: block;
    margin: auto;
    left: 0;
    right: 0;

    // left: center;
}

//Enter Button

.enter{
    font-size: 1.9em;
    color: #909090 ;
    background: white;
    text-align: center;
    padding: $base-padding;
    text-decoration: none;
    border: 2px solid;
    border-radius: 25px;
    font-weight: 900;

    &:hover {
        text-decoration: none;
    }
}

.enter_container{
    position: fixed;
    margin: auto;
    position: fixed;
    text-align: center;
    display: block;
    margin: auto;
    left: 0;
    right: 0;
    top: 70%;
}




