// Place all the styles related to the resources controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#resource-main-paragraph{
  text-align: center;
  margin-left: 15%;
  margin-right: 15%;
  font-weight: bold;
}

ul {
  margin-left: 1.4em;
}

#resource_telephone_points {
  margin-bottom: 10px;
}

#resource_website_points {
  margin-bottom: 10px;
}