// Place all the styles related to the resources controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.heading_with_background {
  text-transform: uppercase;
}
#resource-main-paragraph{
  text-align: left;
  padding: 30px;
  // margin-left: 15%;
  // margin-right: 15%;
  font-size: 1.1em;
  font-style: italic;
}

ul {
  margin-left: 1.4em;
}

#resource_telephone_points {
  margin-bottom: 10px;
}

#resource_website_points {
  margin-bottom: 10px;
}